<%- include ('../layouts/header.ejs') %>

  <section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>4</span>
  </section>
  <div class="link-container">
    <a target="" href="/" class="more-link">Back To Home</a>
  </div>

  </div>
  </div>
  </div>
  <!-- Navbar End -->

  <%- include ('../layouts/footer.ejs') %>