<%- include ('../layouts/header.ejs') %>


    <main>
        <!--
      - BANNER
    -->

        <div class="banner">

            <div class="container">

                <div class="slider-container has-scrollbar" id="header-slider-item">


                    <div class="slider-item">

                        <img src="/src/images/banner-1.jpg" alt="women's latest fashion sale" class="banner-img">

                        <div class="banner-content">

                            <p class="banner-subtitle">Trending item</p>

                            <h2 class="banner-title">Women's latest fashion sale</h2>

                            <p class="banner-text">
                                starting at &dollar; <b>20</b>.00
                            </p>

                            <a href="#" class="banner-btn">Shop now</a>

                        </div>

                    </div>
                    
                    <div class="slider-item">

                        <img src="/src/images/banner-2.jpg" alt="women's latest fashion sale" class="banner-img">

                        <div class="banner-content">

                            <p class="banner-subtitle">Trending Asscesories</p>

                            <h2 class="banner-title">Modern Sun Glasses</h2>

                            <p class="banner-text">
                                starting at &dollar; <b>149</b>.00
                            </p>

                            <a href="#" class="banner-btn">Shop now</a>

                        </div>

                    </div> 
                </div>

            </div>

        </div>





        <!--
        - CATEGORY
      -->

        <!-- <div class="category">

            <div class="container">

                <div class="category-item-container has-scrollbar">

                    <div class="category-item">

                        <div class="category-img-box">
                            <img src="/src/icons/dress.svg" alt="dress & frock" width="30">
                        </div>

                        <div class="category-content-box">

                            <div class="category-content-flex">
                                <h3 class="category-item-title">Dress & frock</h3>

                                <p class="category-item-amount">(53)</p>
                            </div>

                            <a href="#" class="category-btn">Show all</a>

                        </div>

                    </div>

                    <div class="category-item">

                        <div class="category-img-box">
                            <img src="/src/icons/coat.svg" alt="winter wear" width="30">
                        </div>

                        <div class="category-content-box">

                            <div class="category-content-flex">
                                <h3 class="category-item-title">Winter wear</h3>

                                <p class="category-item-amount">(58)</p>
                            </div>

                            <a href="#" class="category-btn">Show all</a>

                        </div>

                    </div>

                    <div class="category-item">

                        <div class="category-img-box">
                            <img src="/src/icons/glasses.svg" alt="glasses & lens" width="30">
                        </div>

                        <div class="category-content-box">

                            <div class="category-content-flex">
                                <h3 class="category-item-title">Glasses & lens</h3>

                                <p class="category-item-amount">(68)</p>
                            </div>

                            <a href="#" class="category-btn">Show all</a>

                        </div>

                    </div>

                    <div class="category-item">

                        <div class="category-img-box">
                            <img src="/src/icons/shorts.svg" alt="shorts & jeans" width="30">
                        </div>

                        <div class="category-content-box">

                            <div class="category-content-flex">
                                <h3 class="category-item-title">Shorts & jeans</h3>

                                <p class="category-item-amount">(84)</p>
                            </div>

                            <a href="#" class="category-btn">Show all</a>

                        </div>

                    </div>

                    <div class="category-item">

                        <div class="category-img-box">
                            <img src="/src/icons/tee.svg" alt="t-shirts" width="30">
                        </div>

                        <div class="category-content-box">

                            <div class="category-content-flex">
                                <h3 class="category-item-title">T-shirts</h3>

                                <p class="category-item-amount">(35)</p>
                            </div>

                            <a href="#" class="category-btn">Show all</a>

                        </div>

                    </div>

                    <div class="category-item">

                        <div class="category-img-box">
                            <img src="/src/icons/jacket.svg" alt="jacket" width="30">
                        </div>

                        <div class="category-content-box">

                            <div class="category-content-flex">
                                <h3 class="category-item-title">Jacket</h3>

                                <p class="category-item-amount">(16)</p>
                            </div>

                            <a href="#" class="category-btn">Show all</a>

                        </div>

                    </div>

                    <div class="category-item">

                        <div class="category-img-box">
                            <img src="/src/icons/watch.svg" alt="watch" width="30">
                        </div>

                        <div class="category-content-box">

                            <div class="category-content-flex">
                                <h3 class="category-item-title">Watch</h3>

                                <p class="category-item-amount">(27)</p>
                            </div>

                            <a href="#" class="category-btn">Show all</a>

                        </div>

                    </div>

                    <div class="category-item">

                        <div class="category-img-box">
                            <img src="/src/icons/hat.svg" alt="hat & caps" width="30">
                        </div>

                        <div class="category-content-box">

                            <div class="category-content-flex">
                                <h3 class="category-item-title">Hat & caps</h3>

                                <p class="category-item-amount">(39)</p>
                            </div>

                            <a href="#" class="category-btn">Show all</a>

                        </div>

                    </div>

                </div>

            </div>

        </div> -->



    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

    
        // Fetch Banners

        const getBanners = () => {
            // Fetch header banners
            $.ajax({
                url: "/api/v1/user/banners?position=header",
                method: "GET",
                success: function (headerBanners) {
                    console.log(headerBanners)
                    updateHeaderBannersUI(headerBanners.data);
                },
                error: function (error) {
                    console.error("Error fetching header banners:", error);
                },
            });

            $.ajax({
                url: "/api/v1/user/banners?position=footer",
                method: "GET",
                success: function (footerBanners) {
                    updateFooterBannersUI(footerBanners.data);
                },
                error: function (error) {
                    console.error("Error fetching header banners:", error);
                },
            });
        };

        function updateHeaderBannersUI(headerBanners) {
            const headerBannersContainer = document.querySelector("#header-slider-item");
            headerBannersContainer.innerHTML = "";


            

            headerBanners.forEach((banner) => {

                const imagePath = banner.image;
                const newPath = imagePath.replace("public", "");

                const bannerElement = document.createElement("div");
                bannerElement.classList.add("slider-item");

                const imgElement = document.createElement("img");
                imgElement.src = newPath;
                imgElement.classList.add("banner-img");
                bannerElement.appendChild(imgElement);

                const bannerContent = document.createElement("div");
                bannerContent.classList.add("banner-content");

                const subtitleElement = document.createElement("p");
                subtitleElement.classList.add("banner-subtitle");
                subtitleElement.textContent = banner.subTitle;
                bannerContent.appendChild(subtitleElement);

                const titleElement = document.createElement("h2");
                titleElement.classList.add("banner-title");
                titleElement.textContent = banner.title;
                bannerContent.appendChild(titleElement);

                const textElement = document.createElement("p");
                textElement.classList.add("banner-text");
                textElement.innerHTML = `starting at ₹ <b>${banner.text}</b>.00`;
                bannerContent.appendChild(textElement);

                const btnElement = document.createElement("a");
                btnElement.href = "#";
                btnElement.classList.add("banner-btn");
                btnElement.textContent = banner.button;
                bannerContent.appendChild(btnElement);

                bannerElement.appendChild(bannerContent);

                headerBannersContainer.appendChild(bannerElement);
            });
        }

        // footer pending
        function updateFooterBannersUI(footerBanners){
            
        }
        getBanners();


    </script>



    <%- include ('../layouts/footer.ejs') %>