<%- include ('../layouts/header.ejs') %>

    <!-- 
    <form id="otp-login-form">
        <h1>Login Form</h1>
        <input type="email" id="email" name="email" placeholder="email" required>
        <input type="submit" value="OTP Login">
    </form>
    <br>
    OR
    <br>
    <button> <a href="/login">LOGIN</a> </button>
    <a href="/signup">Create Account</a> -->


    <div class="container">

        <div class="row">
            <div class="col-md-6 my-3">
                here a design will come
                <!-- <img src="/assets/src/banner-1.png" alt=""> -->
            </div>
            <div class="col-md-6 my-3">

                <form id="otp-login-form" class="form-otp-login">
                    <h1 class="h3 mb-3 font-weight-normal">Login Form</h1>
                    <div class="form-group">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                        <div id="email-error" class="invalid"></div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">OTP Login</button>
                    <p class="text-center mt-1">OR</p>
                </form>
                <button class="btn btn-lg btn-secondary btn-block"><a href="/signin"
                        class="text-dark">LOGIN</a></button>
                <p class="mt-3"><a href="/signup">Create New Account</a></p>
            </div>
        </div>
    </div>

    <!-- balalnce down -->
    </div>
    </div>
    </div>
    <!-- Navbar End -->


    <script>
        const otpLoginForm = document.getElementById('otp-login-form');
        const emailError = document.getElementById('email-error')

        otpLoginForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            const email = document.getElementById('email').value;

            try {
                const res = await axios({
                    method: 'POST',
                    url: '/api/v1/user/generate-otp',
                    data: {
                        email
                    },
                });


                if (res.data.status == "success") {
                    location.assign(`/verify-otp?email=${email}`)

                } else {
                    const errorData = response.data;
                    console.error(errorData);
                }
            }catch(err){
                if(err.response){
                    emailError.textContent = err.response.data.message
                }else{
                    emailError.textContent = ''
                }
            }
        });
    </script>


    <%- include ('../layouts/footer.ejs') %>