<%- include ('../layouts/header.ejs') %>



    <main>

        <!--
      - PRODUCT
    -->

        <div class="product-container">

            <div class="container">

                <div class="grid-container">
                    <div class="grid-item">
                        h'ello abhinand
                        <!-- <form enctype="multipart/form-data">
                            <input type="file" avatar>
                        </form> -->
                    </div>
                    <div class="grid-item center">
                        <div class="input-group">
                            <div class="head">
                                <p>personal information</p> <button editOne>Edit</button>
                            </div>
                            <form username>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" username-field disabled>
                                </div>
                                <button type="submit" style="display: none;">Save</button>
                            </form>
                        </div>

                        <div class="input-group">
                            <div class="head">
                                <p>Email Address </p> <button editTwo>Edit</button>
                            </div>

                            <form email>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email-field" disabled>
                                </div>
                                <button type="submit" style="display: none;">Save</button>
                            </form>
                        </div>


                        <div class="input-group">
                            <div class="head">
                                <p>Mobile Number </p> <button editThree>Edit</button>
                            </div>
                            <form mobile>
                                <div class="form-group">
                                    <label for="mobile">Mobile</label>
                                    <input type="number" name="mobile" mobile-field disabled>
                                </div>
                                <button type="submit" style="display: none;">Save</button>
                            </form>

                        </div>



                    </div>
                    <div class="grid-item ">myorders</div>
                </div>

            </div>

        </div>

    </main>


    <script>
        window.onload = async function () {
            await getProducts()
            await getCategories()
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script>

        const username = document.querySelector("[username]")
        const usernameEdit = document.querySelector("[editOne]")
        const email = document.querySelector("[email]")
        const emailEdit = document.querySelector("[editTwo]")
        const mobile = document.querySelector("[mobile]")
        const mobileEdit = document.querySelector("[editThree]")

        // form fields 

        const usernameField = document.querySelector("[username-field]")
        const emailField = document.querySelector("#email-field")
        const mobileField = document.querySelector("[mobile-field]")


        const getProfile = () => {
            $.ajax({
                type: "GET",
                url: "/api/v1/user/profile",
                success: function (response) {
                    const data = response.data.userProfile
                    console.log(data);
                    usernameField.value = data.username
                    emailField.value = data.email
                    mobileField.value = data.mobile
                }
            })
        }

        getProfile()

        const editButtonOne = document.querySelector("button[editOne]");
        const saveButtonOne = document.querySelector("form[username] button[type='submit']");

        const editButtonTwo = document.querySelector("button[editTwo]");
        const saveButtonTwo = document.querySelector("form[email] button[type='submit']");

        const editButtonThree = document.querySelector("button[editThree]");
        const saveButtonThree = document.querySelector("form[mobile] button[type='submit']");

        function toggleEditMode(editButton, saveButton, inputField) {
            editButton.style.display = "none";
            saveButton.style.display = "block";
            inputField.disabled = false;
        }

        function toggleViewMode(editButton, saveButton, inputField) {
            saveButton.style.display = "none";
            editButton.style.display = "block";
            inputField.disabled = true;
        }

        editButtonOne.addEventListener("click", function () {
            toggleEditMode(editButtonOne, saveButtonOne, usernameField);
        });

        saveButtonOne.addEventListener("click", function () {
            toggleViewMode(editButtonOne, saveButtonOne, usernameField);
        });

        editButtonTwo.addEventListener("click", function () {
            toggleEditMode(editButtonTwo, saveButtonTwo, emailField);
        });

        saveButtonTwo.addEventListener("click", function () {
            toggleViewMode(editButtonTwo, saveButtonTwo, emailField);
        });

        editButtonThree.addEventListener("click", function () {
            toggleEditMode(editButtonThree, saveButtonThree, mobileField);
        });

        saveButtonThree.addEventListener("click", function () {
            toggleViewMode(editButtonThree, saveButtonThree, mobileField);
        });



        username.addEventListener('submit', (e) => {
            e.preventDefault()
            $.ajax({
                type: "PUT",
                url: "/api/v1/user/profile/username",
                data: {
                    username: usernameField.value
                },
                success: function (response) {
                    getProfile()
                    showToast();
                    setToastMessage("Success", "Username updated Successfully.");
                }
            })
        })

        email.addEventListener('submit', (e) => {
            e.preventDefault()
            $.ajax({
                type: "PUT",
                url: "/api/v1/user/profile/email",
                data: {
                    email: emailField.value
                },
                success: function (response) {
                    getProfile()
                    showToast();
                    setToastMessage("Success", "Email updated Successfully.");
                },
                error:function (error){
                    showToast();
                    setToastMessage("Fail", error.responseJSON.message);
                    console.log(error)
                }
            })
        })

        mobile.addEventListener('submit', (e) => {
            e.preventDefault()
            $.ajax({
                type: "PUT",
                url: "/api/v1/user/profile/email",
                data: {
                    mobile: mobileField.value
                },
                success: function (response) {
                    getProfile()
                    showToast();
                    setToastMessage("Success", "Mobile updated Successfully.");
                }
            })
        })


    </script>


    <%- include ('../layouts/footer.ejs') %>