<%- include ('../layouts/header.ejs') %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <main>

        <!--
      - PRODUCT
    -->

        <style>
            .avatar-upload {
                position: relative;
            }

            .profile-pic {
                width: 100px;
                max-height: 100px;
            }

            .file-upload {
                display: none;
            }

            .circle {
                border-radius: 100% !important;
                overflow: hidden;
                width: 100px;
                height: 100px;
                border: 1px solid var(--cultured);
            }



            .p-image {
                cursor: pointer;
                position: absolute;
                top: 70px;
                z-index: 1;
                left: 81px;
                font-size: var(--fs-8);
                color: var(--onyx);
                transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
            }

            .p-image:hover {
                transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
            }

            .upload-button {
                font-size: 1.2em;
            }

            .upload-button:hover {
                transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
                color: #999;
            }

            .avatar-name {
                padding: 10px 0;
                font-size: var(--fs-3);
                font-weight: var(--weight-600);
                color: var(--onyx);
                text-transform: capitalize;
            }
        </style>

        <script>
            $(document).ready(function () {


                var readURL = function (input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.profile-pic').attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }


                $(".file-upload").on('change', function () {
                    readURL(this);
                });

                $(".upload-button").on('click', function () {
                    $(".file-upload").click();
                });
            });
        </script>

        <div class="product-container">

            <div class="container">

                <div class="grid-container">
                    <div class="grid-item top-left">


                        <div class="avatar-upload">
                            <div class="small-12 medium-2 large-2 columns">

                                <div class="circle">
                                    <img class="profile-pic"
                                        src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                                </div>

                                <div class="p-image">
                                    <i class="fa fa-camera upload-button"></i>
                                    <input class="file-upload" type="file" accept="image/*" />
                                </div>
                            </div>
                        </div>

                        <div class="avatar-name">
                            <p>h'ello abhinand</p>
                        </div>



                    </div>
                    <div class="grid-item center">
                        <div class="input-group">
                            <div class="head">
                                <p>personal information</p> <button editOne>Edit</button>
                            </div>
                            <form username>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" username-field disabled>
                                </div>
                                <button type="submit" style="display: none;">Save</button>
                            </form>
                        </div>

                        <div class="input-group">
                            <div class="head">
                                <p>Email Address </p> <button editTwo>Edit</button>
                            </div>

                            <form email>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email-field" disabled>
                                </div>
                                <button type="submit" style="display: none;">Save</button>
                            </form>
                        </div>


                        <div class="input-group">
                            <div class="head">
                                <p>Mobile Number </p> <button editThree>Edit</button>
                            </div>
                            <form mobile>
                                <div class="form-group">
                                    <label for="mobile">Mobile</label>
                                    <input type="number" name="mobile" mobile-field disabled>
                                </div>
                                <button type="submit" style="display: none;">Save</button>
                            </form>

                        </div>



                    </div>
                    <div class="grid-item bottom-left">myorders</div>
                </div>

            </div>

        </div>

    </main>


    <script>
        window.onload = async function () {
            await getProducts()
            await getCategories()
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script>

        const username = document.querySelector("[username]")
        const usernameEdit = document.querySelector("[editOne]")
        const email = document.querySelector("[email]")
        const emailEdit = document.querySelector("[editTwo]")
        const mobile = document.querySelector("[mobile]")
        const mobileEdit = document.querySelector("[editThree]")

        // form fields 

        const usernameField = document.querySelector("[username-field]")
        const emailField = document.querySelector("#email-field")
        const mobileField = document.querySelector("[mobile-field]")


        const getProfile = () => {
            $.ajax({
                type: "GET",
                url: "/api/v1/user/profile",
                success: function (response) {
                    const data = response.data.userProfile
                    console.log(data);
                    usernameField.value = data.username
                    emailField.value = data.email
                    mobileField.value = data.mobile
                }
            })
        }

        getProfile()

        const editButtonOne = document.querySelector("button[editOne]");
        const saveButtonOne = document.querySelector("form[username] button[type='submit']");

        const editButtonTwo = document.querySelector("button[editTwo]");
        const saveButtonTwo = document.querySelector("form[email] button[type='submit']");

        const editButtonThree = document.querySelector("button[editThree]");
        const saveButtonThree = document.querySelector("form[mobile] button[type='submit']");

        function toggleEditMode(editButton, saveButton, inputField) {
            editButton.style.display = "none";
            saveButton.style.display = "block";
            inputField.disabled = false;
        }

        function toggleViewMode(editButton, saveButton, inputField) {
            saveButton.style.display = "none";
            editButton.style.display = "block";
            inputField.disabled = true;
        }

        editButtonOne.addEventListener("click", function () {
            toggleEditMode(editButtonOne, saveButtonOne, usernameField);
        });

        saveButtonOne.addEventListener("click", function () {
            toggleViewMode(editButtonOne, saveButtonOne, usernameField);
        });

        editButtonTwo.addEventListener("click", function () {
            toggleEditMode(editButtonTwo, saveButtonTwo, emailField);
        });

        saveButtonTwo.addEventListener("click", function () {
            toggleViewMode(editButtonTwo, saveButtonTwo, emailField);
        });

        editButtonThree.addEventListener("click", function () {
            toggleEditMode(editButtonThree, saveButtonThree, mobileField);
        });

        saveButtonThree.addEventListener("click", function () {
            toggleViewMode(editButtonThree, saveButtonThree, mobileField);
        });



        username.addEventListener('submit', (e) => {
            e.preventDefault()
            $.ajax({
                type: "PUT",
                url: "/api/v1/user/profile/username",
                data: {
                    username: usernameField.value
                },
                success: function (response) {
                    getProfile()
                    showToast();
                    setToastMessage("Success", "Username updated Successfully.");
                }
            })
        })

        email.addEventListener('submit', (e) => {
            e.preventDefault()
            $.ajax({
                type: "PUT",
                url: "/api/v1/user/profile/email",
                data: {
                    email: emailField.value
                },
                success: function (response) {
                    getProfile()
                    showToast();
                    setToastMessage("Success", "Email updated Successfully.");
                },
                error: function (error) {
                    showToast();
                    setToastMessage("Fail", error.responseJSON.message);
                    console.log(error)
                }
            })
        })

        mobile.addEventListener('submit', (e) => {
            e.preventDefault()
            $.ajax({
                type: "PUT",
                url: "/api/v1/user/profile/email",
                data: {
                    mobile: mobileField.value
                },
                success: function (response) {
                    getProfile()
                    showToast();
                    setToastMessage("Success", "Mobile updated Successfully.");
                }
            })
        })


    </script>


    <%- include ('../layouts/footer.ejs') %>