<%- include ('../layouts/header.ejs') %>



    <!--
    - MAIN
  -->

    <main>

        <!--
      - PRODUCT
    -->

        <div class="product-container">

            <div class="container">


                <!--
          - SIDEBAR
        -->

                <div class="sidebar  has-scrollbar" data-mobile-menu>

                    <div class="product-showcase">

                        <h3 class="showcase-heading">best sellers</h3>

                        <div class="showcase-wrapper">

                            <div class="showcase-container">

                                <div class="showcase">

                                    <a href="#" class="showcase-img-box">
                                        <img src="./assets/images/products/1.jpg" alt="baby fabric shoes" width="75"
                                            height="75" class="showcase-img">
                                    </a>

                                    <div class="showcase-content">

                                        <a href="#">
                                            <h4 class="showcase-title">baby fabric shoes</h4>
                                        </a>

                                        <div class="showcase-rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>

                                        <div class="price-box">
                                            <del>$5.00</del>
                                            <p class="price">$4.00</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="showcase">

                                    <a href="#" class="showcase-img-box">
                                        <img src="./assets/images/products/2.jpg" alt="men's hoodies t-shirt"
                                            class="showcase-img" width="75" height="75">
                                    </a>

                                    <div class="showcase-content">

                                        <a href="#">
                                            <h4 class="showcase-title">men's hoodies t-shirt</h4>
                                        </a>
                                        <div class="showcase-rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star-half-outline"></ion-icon>
                                        </div>

                                        <div class="price-box">
                                            <del>$17.00</del>
                                            <p class="price">$7.00</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="showcase">

                                    <a href="#" class="showcase-img-box">
                                        <img src="./assets/images/products/3.jpg" alt="girls t-shirt"
                                            class="showcase-img" width="75" height="75">
                                    </a>

                                    <div class="showcase-content">

                                        <a href="#">
                                            <h4 class="showcase-title">girls t-shirt</h4>
                                        </a>
                                        <div class="showcase-rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star-half-outline"></ion-icon>
                                        </div>

                                        <div class="price-box">
                                            <del>$5.00</del>
                                            <p class="price">$3.00</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="showcase">

                                    <a href="#" class="showcase-img-box">
                                        <img src="./assets/images/products/4.jpg" alt="woolen hat for men"
                                            class="showcase-img" width="75" height="75">
                                    </a>

                                    <div class="showcase-content">

                                        <a href="#">
                                            <h4 class="showcase-title">woolen hat for men</h4>
                                        </a>
                                        <div class="showcase-rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                        </div>

                                        <div class="price-box">
                                            <del>$15.00</del>
                                            <p class="price">$12.00</p>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>


                <div class="product-box">

                    <!--
            - PRODUCT FEATURED
                    -->

                    <div class="product-featured">

                        <h2 class="title">Shop Details</h2>

                        <div class="showcase-wrapper has-scrollbar">

                            <div class="showcase-container">

                                <div class="showcase">

                                    <div id="product_img" class="showcase-banner">
                                        <!-- <img src="./assets/images/products/shampoo.jpg"
                                            alt="shampoo, conditioner & facewash packs" class="showcase-img"> -->
                                    </div>

                                    <div class="showcase-content">

                                        <div class="showcase-rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star-outline"></ion-icon>
                                            <ion-icon name="star-outline"></ion-icon>
                                        </div>

                                        <a href="#">
                                            <h3 id="product_title" class="showcase-title">shampoo, conditioner & facewash packs</h3>
                                        </a>

                                        <p id="product_desc" class="showcase-desc">
                                            Lorem ipsum dolor sit amet consectetur Lorem ipsum
                                            dolor dolor sit amet consectetur Lorem ipsum dolor
                                        </p>

                                        <div class="price-box">
                                            <p id="product_price" class="price">$150.00</p>

                                            <del id="product_del_price" >$200.00</del>
                                        </div>

                                        <button class="add-cart-btn">add to cart</button>

                                        <div class="showcase-status">
                                            <div class="wrapper">
                                                <p>
                                                    already sold: <b>20</b>
                                                </p>

                                                <p>
                                                    available: <b>40</b>
                                                </p>
                                            </div>

                                            <div class="showcase-status-bar"></div>
                                        </div>

                                        <div class="countdown-box">

                                            <p class="countdown-desc">
                                                Hurry Up! Offer ends in:
                                            </p>

                                            <div class="countdown">

                                                <div class="countdown-content">

                                                    <p class="display-number">360</p>

                                                    <p class="display-text">Days</p>

                                                </div>

                                                <div class="countdown-content">
                                                    <p class="display-number">24</p>
                                                    <p class="display-text">Hours</p>
                                                </div>

                                                <div class="countdown-content">
                                                    <p class="display-number">59</p>
                                                    <p class="display-text">Min</p>
                                                </div>

                                                <div class="countdown-content">
                                                    <p class="display-number">00</p>
                                                    <p class="display-text">Sec</p>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <!-- <div class="showcase-container">

                                <div class="showcase">

                                    <div class="showcase-banner">
                                        <img src="./assets/images/products/jewellery-1.jpg"
                                            alt="Rose Gold diamonds Earring" class="showcase-img">
                                    </div>

                                    <div class="showcase-content">

                                        <div class="showcase-rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star-outline"></ion-icon>
                                            <ion-icon name="star-outline"></ion-icon>
                                        </div>

                                        <h3 class="showcase-title">
                                            <a href="#" class="showcase-title">Rose Gold diamonds Earring</a>
                                        </h3>

                                        <p class="showcase-desc">
                                            Lorem ipsum dolor sit amet consectetur Lorem ipsum
                                            dolor dolor sit amet consectetur Lorem ipsum dolor
                                        </p>

                                        <div class="price-box">
                                            <p class="price">$1990.00</p>
                                            <del>$2000.00</del>
                                        </div>

                                        <button class="add-cart-btn">add to cart</button>

                                        <div class="showcase-status">
                                            <div class="wrapper">
                                                <p> already sold: <b>15</b> </p>

                                                <p> available: <b>40</b> </p>
                                            </div>

                                            <div class="showcase-status-bar"></div>
                                        </div>

                                        <div class="countdown-box">

                                            <p class="countdown-desc">Hurry Up! Offer ends in:</p>

                                            <div class="countdown">
                                                <div class="countdown-content">
                                                    <p class="display-number">360</p>
                                                    <p class="display-text">Days</p>
                                                </div>

                                                <div class="countdown-content">
                                                    <p class="display-number">24</p>
                                                    <p class="display-text">Hours</p>
                                                </div>

                                                <div class="countdown-content">
                                                    <p class="display-number">59</p>
                                                    <p class="display-text">Min</p>
                                                </div>

                                                <div class="countdown-content">
                                                    <p class="display-number">00</p>
                                                    <p class="display-text">Sec</p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div> -->

                        </div>

                    </div>


                </div>

            </div>

        </div>

    </main>


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Zoomooz.js on the image element
            Zoomooz("#zoom-image", { enable: "click", scale: 2 });
        });

        window.onload = async function () {
            await getCategories()
        }


        const storedProduct = localStorage.getItem('product');

        if (storedProduct) {
            const product = JSON.parse(storedProduct);
            document.querySelector("#product_title").textContent = product.name
            document.querySelector("#product_price").textContent = product.price
            document.querySelector("#product_desc").textContent = product.description
            document.querySelector("#product_del_price").textContent = product.price + 399

            const layout = document.querySelector('#product_img')
            const img = document.createElement('img')

            const imagePath = product.image;
            const newPath = imagePath.replace("public", "");

            img.src = newPath
            img.alt = product.name
            layout.appendChild(img)

        } else {
            console.log('No product details found.');
        }

        var imageContainers = document.querySelectorAll('.product-img--main');

        imageContainers.forEach(function (container) {
            container.addEventListener('mousemove', function (e) {
                var image = container.querySelector('img');
                var containerRect = container.getBoundingClientRect();
                var offsetX = e.clientX - containerRect.left;
                var offsetY = e.clientY - containerRect.top;
                var percentX = (offsetX / containerRect.width) * 100;
                var percentY = (offsetY / containerRect.height) * 100;
                image.style.transformOrigin = percentX + '% ' + percentY + '%';
            });
        });

    </script>



    <%- include ('../layouts/footer.ejs') %>