<%- include ('../layouts/header.ejs') %>



    <!--
    - MAIN
  -->

    <main>

        <!--
      - PRODUCT
    -->

        <div class="product-container">

            <div class="container">


                <!--
          - SIDEBAR
        -->

                <div class="sidebar  has-scrollbar" data-mobile-menu>

                    <div class="product-showcase">

                        <h3 class="showcase-heading">best sellers</h3>

                        <div class="showcase-wrapper">

                            <div class="showcase-container" id="showcase-container">

                               

                            </div>

                        </div>

                    </div>

                </div>


                <div class="product-box">

                    <!--
            - PRODUCT FEATURED
                    -->

                    <div class="product-featured">

                        <h2 class="title">Shop Details</h2>

                        <div class="showcase-wrapper has-scrollbar">

                            <div class="showcase-container">

                                <div class="showcase">

                                    <!-- <div id="product_img" class="showcase-banner"> -->
                                    <!-- <img src="./assets/images/products/shampoo.jpg"
                                            alt="shampoo, conditioner & facewash packs" class="showcase-img"> -->
                                    <!-- </div> -->

                                    <!-- card left -->

                                    <div class="product-imgs">
                                        <div class="img-display">
                                            <div class="img-showcase">

                                                <!-- <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg"
                                                    alt="shoe image">
                                                <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_2.jpg"
                                                    alt="shoe image">
                                                <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_3.jpg"
                                                    alt="shoe image">
                                                <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_4.jpg"
                                                    alt="shoe image">
                                            </div> -->
                                            </div>
                                            <div class="img-select">
                                                <!-- <div class="img-item">
                                                <a href="#" data-id="1">
                                                    <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg"
                                                        alt="shoe image">
                                                </a>
                                            </div>
                                            <div class="img-item">
                                                <a href="#" data-id="2">
                                                    <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_2.jpg"
                                                        alt="shoe image">
                                                </a>
                                            </div>
                                            <div class="img-item">
                                                <a href="#" data-id="3">
                                                    <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_3.jpg"
                                                        alt="shoe image">
                                                </a>
                                            </div>
                                            <div class="img-item">
                                                <a href="#" data-id="4">
                                                    <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_4.jpg"
                                                        alt="shoe image">
                                                </a>
                                            </div> -->
                                            </div>
                                        </div>

                                        <div class="showcase-content">

                                            <div class="showcase-rating">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                            </div>

                                            <a href="#">
                                                <h3 id="product_title" class="showcase-title">shampoo, conditioner &
                                                    facewash packs</h3>
                                            </a>

                                            <p id="product_desc" class="showcase-desc">
                                                Lorem ipsum dolor sit amet consectetur Lorem ipsum
                                                dolor dolor sit amet consectetur Lorem ipsum dolor
                                            </p>

                                            <div class="price-box">
                                                <p id="product_price" class="price">$150.00</p>

                                                <del id="product_del_price">$200.00</del>
                                            </div>

                                            <button class="add-cart-btn">add to cart</button>

                                            <div class="showcase-status">
                                                <div class="wrapper">
                                                    <p>
                                                        already sold: <b>20</b>
                                                    </p>

                                                    <p>
                                                        available: <b>40</b>
                                                    </p>
                                                </div>

                                                <div class="showcase-status-bar"></div>
                                            </div>

                                            <div class="countdown-box">

                                                <p class="countdown-desc">
                                                    Hurry Up! Offer ends in:
                                                </p>

                                                <div class="countdown">

                                                    <div class="countdown-content">

                                                        <p class="display-number">360</p>

                                                        <p class="display-text">Days</p>

                                                    </div>

                                                    <div class="countdown-content">
                                                        <p class="display-number">24</p>
                                                        <p class="display-text">Hours</p>
                                                    </div>

                                                    <div class="countdown-content">
                                                        <p class="display-number">59</p>
                                                        <p class="display-text">Min</p>
                                                    </div>

                                                    <div class="countdown-content">
                                                        <p class="display-number">00</p>
                                                        <p class="display-text">Sec</p>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <!-- <div class="showcase-container">

                                <div class="showcase">

                                    <div class="showcase-banner">
                                        <img src="./assets/images/products/jewellery-1.jpg"
                                            alt="Rose Gold diamonds Earring" class="showcase-img">
                                    </div>

                                    <div class="showcase-content">

                                        <div class="showcase-rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star-outline"></ion-icon>
                                            <ion-icon name="star-outline"></ion-icon>
                                        </div>

                                        <h3 class="showcase-title">
                                            <a href="#" class="showcase-title">Rose Gold diamonds Earring</a>
                                        </h3>

                                        <p class="showcase-desc">
                                            Lorem ipsum dolor sit amet consectetur Lorem ipsum
                                            dolor dolor sit amet consectetur Lorem ipsum dolor
                                        </p>

                                        <div class="price-box">
                                            <p class="price">$1990.00</p>
                                            <del>$2000.00</del>
                                        </div>

                                        <button class="add-cart-btn">add to cart</button>

                                        <div class="showcase-status">
                                            <div class="wrapper">
                                                <p> already sold: <b>15</b> </p>

                                                <p> available: <b>40</b> </p>
                                            </div>

                                            <div class="showcase-status-bar"></div>
                                        </div>

                                        <div class="countdown-box">

                                            <p class="countdown-desc">Hurry Up! Offer ends in:</p>

                                            <div class="countdown">
                                                <div class="countdown-content">
                                                    <p class="display-number">360</p>
                                                    <p class="display-text">Days</p>
                                                </div>

                                                <div class="countdown-content">
                                                    <p class="display-number">24</p>
                                                    <p class="display-text">Hours</p>
                                                </div>

                                                <div class="countdown-content">
                                                    <p class="display-number">59</p>
                                                    <p class="display-text">Min</p>
                                                </div>

                                                <div class="countdown-content">
                                                    <p class="display-number">00</p>
                                                    <p class="display-text">Sec</p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div> -->

                            </div>

                        </div>


                    </div>

                </div>

            </div>

    </main>


    <script>

        // document.addEventListener('DOMContentLoaded', function () {
        //     // Initialize Zoomooz.js on the image element
        //     Zoomooz("#zoom-image", { enable: "click", scale: 2 });
        // });

        window.onload = async function () {
            await getCategories()
        }


        const storedProduct = localStorage.getItem('product');

        const imgShowcase = document.querySelector(".img-showcase");
        const imgSelect = document.querySelector(".img-select");

        // get the count of cart items
        const getCartItemCount = async () => {
            try {
                const response = await fetch("/api/v1/user/cart/items/count");
                if (!response.ok) {
                    throw new Error("Error retrieving cart items count");
                }
                const data = await response.json();
                return data.count;
            } catch (error) {
                console.error("Error retrieving cart items count", error);
                return 0; // Return a default count or handle the error as needed
            }
        };


        const handleAddToCart = async (productId) => {
            try {
                const response = await fetch("/api/v1/user/cart", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        productId,
                    }),
                });

                if (!response.ok) {
                    throw new Error("Error adding item to cart");
                }

                const responseData = await response.json();
                console.log(responseData);
                await getCartCount();
                showToast();
                setToastMessage(responseData.status, responseData.message);
                const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
                cartItems.push({ productId });
                localStorage.setItem('cartItems', JSON.stringify(cartItems));
                call()
            } catch (error) {
                console.error("Error adding item to cart", error);
            }
        };



        if (storedProduct) {
            const product = JSON.parse(storedProduct);
            document.querySelector("#product_title").textContent = product.name
            document.querySelector("#product_price").textContent = product.price
            document.querySelector("#product_desc").textContent = product.description
            document.querySelector("#product_del_price").textContent = product.price + 399

            const images = product.image




            images.forEach((imageUrl, index) => {
                const newPath = imageUrl.replace("public", "");

                const img = document.createElement("img");

                img.src = newPath;
                img.alt = product.name;

                // Create an anchor element
                // const link = document.createElement("a");
                // link.href = newPath;
                // link.appendChild(img);

                // Append the anchor element to the image showcase
                imgShowcase.appendChild(img);
            });



            const zoom = mediumZoom('img');



            // Generate the image items for selection
            images.forEach((imageUrl, index) => {
                const imgItem = document.createElement("div");
                imgItem.classList.add("img-item");

                const anchor = document.createElement("a");
                anchor.href = "#";
                anchor.dataset.id = index + 1;

                const img = document.createElement("img");
                const newPath = imageUrl.replace("public", "");
                img.src = newPath;
                img.alt = product.name;
                img.classList.add("generated-image");

                anchor.appendChild(img);
                imgItem.appendChild(anchor);
                imgSelect.appendChild(imgItem);
            });


            const imgs = document.querySelectorAll(".img-select a");
            const imgBtns = [...imgs];
            let imgId = 1;

            imgBtns.forEach((imgItem) => {
                console.log(imgItem)
                imgItem.addEventListener("click", (event) => {
                    event.preventDefault();
                    imgId = imgItem.dataset.id;
                    slideImage();
                });
            });



            function slideImage() {
                const displayWidth = document.querySelector(
                    ".img-showcase img:first-child"
                ).clientWidth;

                document.querySelector(".img-showcase").style.transform = `translateX(${-(imgId - 1) * displayWidth
                    }px)`;
            }

            window.addEventListener("resize", slideImage);


            const addToCartBtn = document.querySelector('.add-cart-btn')


            const productId = product._id;

            async function call() {
                try {
                    const count = await getCartItemCount();
                    const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];

                    if (cartItems.some(item => item.productId === productId)) {
                        addToCartBtn.textContent = "Go to Cart";
                        addToCartBtn.onclick = function () {
                            window.location.href = "/cart";
                        };
                    } else {
                        addToCartBtn.textContent = "Add to Cart";
                        addToCartBtn.onclick = function () {
                            handleAddToCart(productId);
                        };
                    }
                } catch (error) {
                    console.error("Error retrieving cart items count", error);
                }
            }

            call();

        } else {
            console.log('No product details found.');
        }

        var imageContainers = document.querySelectorAll('.product-img--main');

        imageContainers.forEach(function (container) {
            container.addEventListener('mousemove', function (e) {
                var image = container.querySelector('img');
                var containerRect = container.getBoundingClientRect();
                var offsetX = e.clientX - containerRect.left;
                var offsetY = e.clientY - containerRect.top;
                var percentX = (offsetX / containerRect.width) * 100;
                var percentY = (offsetY / containerRect.height) * 100;
                image.style.transformOrigin = percentX + '% ' + percentY + '%';
            });
        });



    </script>



    <script>



        // Product page scroll

        // const imgs = document.querySelectorAll(".img-select a");
        // const imgBtns = [...imgs];
        // let imgId = 1;
        // const imgShowcase = document.querySelector(".img-showcase");
        // const imgSelect = document.querySelector(".img-select");

        // imgBtns.forEach((imgItem) => {
        //     console.log(imgItem)
        //     imgItem.addEventListener("click", (event) => {
        //         event.preventDefault();
        //         imgId = imgItem.dataset.id;
        //         slideImage();
        //     });
        // });

        // function slideImage() {
        //     const displayWidth = document.querySelector(
        //         ".img-showcase img:first-child"
        //     ).clientWidth;

        //     document.querySelector(".img-showcase").style.transform = `translateX(${-(imgId - 1) * displayWidth
        //         }px)`;
        // }

        // window.addEventListener("resize", slideImage);

    </script>


    <%- include ('../layouts/footer.ejs') %>