<%- include ('../../layouts/adminHeader.ejs') %>


    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <a class="badge badge-primary" href="/orders">Back To Orders</a>
                <!-- <h3 class="page-title"> Form elements </h3> -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <!-- <li class="breadcrumb-item"><a href="#">Forms</a></li> -->
                        <!-- <li class="breadcrumb-item active" aria-current="page">Form elements</li> -->
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="row d-flex justify-content-between p-3">
                            <div class="col-md-4 grid-margin stretch-card d-flex flex-column">
                                <label><i id="date" class="mdi mdi-calendar"></i></label>
                                <label id="orderId" class="px-3"></label>

                            </div>
                            <div class="col-md-4 grid-margin stretch-card">
                                <div class="form-group">
                                    <label>Change Status</label>
                                    <select id="statusDropdown" class="js-example-basic-single p-1" style="width:100%">
                                        <option value="pending">Pending</option>
                                        <option value="confirmed">Confirmed</option>
                                        <option value="shipped">Shipped</option>
                                        <option value="delivered">Delivered</option>
                                        <option value="cancelled">Cancelled</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row ">

                            <div class="col-lg-12  grid-margin stretch-card d-flex flex-wrap">


                                <div class="col-lg-4 col-md-12 d-flex justify-content-center text-center">
                                    <article
                                        class="icontext d-flex flex-column justify-content-center align-items-center">
                                        <span class="icon icon-sm rounded-circle alert-success"
                                            style="width:50px; height:50px"><i
                                                class="text-success mdi mdi-account"></i></span>
                                        <div class="text" id="user_data">
                                            <h6 class="mb-1">Customer</h6>
                                            <p class="mb-1">User Admin <br><a
                                                    href="mailto:user@example.com">user@example.com</a></p>
                                        </div>
                                    </article>
                                </div>

                                <div class="col-lg-4 col-md-12  d-flex justify-content-center text-center">
                                    <article
                                        class="icontext  d-flex flex-column justify-content-center align-items-center">
                                        <span class="icon icon-sm rounded-circle alert-success"
                                            style="width:50px; height:50px"><i
                                                class="text-success mdi mdi-truck"></i></span>
                                        <div class="text" id="order_info">
                                            <h6 class="mb-1">Order Info</h6>
                                            <p class="mb-1">Pay Method:</p>
                                        </div>
                                    </article>
                                </div>


                                <div class="col-lg-4 col-md-12 d-flex justify-content-center text-center">
                                    <article
                                        class="icontext  d-flex flex-column justify-content-center align-items-center">
                                        <span class="icon icon-sm rounded-circle alert-success"
                                            style="width:50px; height:50px"><i
                                                class="text-success mdi mdi-google-maps"></i></span>
                                        <div class="text" id="delivery_info">
                                            <h6 class="mb-1">Deliver To</h6>
                                            <p class="mb-1">Shipping:
                                            <address></address>
                                            </p>
                                        </div>
                                    </article>
                                </div>



                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-8  grid-margin stretch-card d-flex flex-wrap">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Order Details</h4>
                                        <!-- <p class="card-description"> Add class <code>.table</code> -->
                                        </p>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Unit Price</th>
                                                        <th>Quantity</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4 d-flex align-items-center">
                                <button class="badge badge-info col-12 p-3" style="font-size: 16px;">Payed : ₹<span id="total"></span> <br> <small>including charges</small> </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


            <script>
              

                const orderDetails = localStorage.getItem('order')
                // console.log(orderDetails)
                if (orderDetails) {
                    const order = JSON.parse(orderDetails)
                    let currentStatus = order.status
                    const orderId = document.querySelector('#orderId')
                    const date = document.querySelector('#date')
                    const dateString = order.updatedAt

                    orderId.textContent = order.orderID
                    date.textContent = dateString.split("T")[0]

                    document.getElementById('statusDropdown').value = currentStatus;
                    document.getElementById('statusDropdown').addEventListener('change', function () {
                        const newStatus = this.value;
                        const orderID = order.orderID

                        showCustomConfirmation("Are you sure you want to delete this item?", function (result) {
                            if (result) {
                                currentStatus = newStatus;
                                order.status = currentStatus;
                                localStorage.setItem('order', JSON.stringify(order));

                                $.ajax({
                                    type: "PUT",
                                    url: `/api/v1/admin/orders/${orderID}`,
                                    data: {
                                        status: currentStatus
                                    },
                                    success: function (response) {
                                        console.log("ajax status " + currentStatus)
                                        showToast(`Order Status Changed to  ${currentStatus}`, "primary");
                                    },
                                    error: function (xhr, status, error) {
                                        console.log(error);
                                    }
                                });
                            } else {
                                statusDropdown.value = currentStatus
                            }

                        });
                    });


                    const userData = document.getElementById("user_data")
                    const orderInfo = document.getElementById("order_info")
                    const deliveryInfo = document.getElementById("delivery_info")

                    const htmlContent = `
                            <h6 class="my-2">OrderInfo</h6>
                            <p class="mb-1">Pay Method: <span style="text-transform:upperCase" class="text-info rounded-circle bg-dark p-2">${order.paymentMethod}</span></p>
                            `
                    orderInfo.innerHTML = htmlContent


                    $.ajax({
                        type: "GET",
                        url: `/api/v1/admin/carts?userId=${order.user}`,
                        success: function (response) {
                            console.log("res")
                            const data = response.cartsWithShippingAddress[0].shippingAddress[0]
                            const products = response.cartsWithShippingAddress[0].cart.items
                            
                            const address = `${data.address} ${data.locality} ${data.city} ${data.state} ${data.zipCode}.`
                            console.log(address)


                            const userContent = `
                            <h6 class="my-2">Customer</h6>
                            <p class="mb-1">${data.custName}
                                <br><a href="${data.mobile}">${data.mobile}</a>
                            </p>
                            `
                            userData.innerHTML = userContent

                            const htmlContent = `
                            <h6 class="my-2">Shipping Address</h6>
                            <p class="mb-1">${address}</p>
                            `
                            deliveryInfo.innerHTML = htmlContent
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });

                    const tbody = document.querySelector('tbody');
                    tbody.innerHTML = '';

                    order.items.forEach((product) => {
                        console.log(product)
                        $.ajax({
                            type: "GET",
                            url: `/api/v1/admin/product/${product.product}`,
                            success: function (response) {
                                const data = response.data.products

                                const tr = `
                                    <tr>
                                        <td>${data.name}</td>
                                        <td>${data.price}</td>
                                        <td>${product.quantity}</td>
                                        <td>${data.price * product.quantity} </td>   
                                    </tr>

                                `;

                                tbody.innerHTML += tr;

                            }
                        })
                    })

                    const total = document.querySelector('#total')
                    total.textContent = order.totalPrice

                }

            </script>


            <%- include ('../../layouts/adminFooter.ejs') %>