<%- include ('../../layouts/adminHeader.ejs') %>

    <style>
        .pagination {
            display: inline-block;
            max-width: 50%;
            margin: 0 auto;
        }

        .pagination-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto;
        }

        .page-item {
            display: inline;
        }

        .page-link {
            padding: 0.5em 0.75em;
            text-decoration: none;
            border: 1px solid #dee2e6;
            background-color: #191c24;
            color: #007bff;
        }

        .page-item.active .page-link {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }
    </style>

    <div class="main-panel">
        <div class="content-wrapper">

            <div class="page-header">
                <h3 class="page-title"> All Orders</h3>
                
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Basic Table</h4> -->
                            <p class="card-description"> You can change the <code>status</code> of orders
                            </p>

                           <div class="row">

                            <di v class="col-lg-12 col-md-6">
                                <p>Filters:</p>
                            <div class="filters d-flex g-3 align-items-center justify-content-between">
                               
                                <div class="filter-item ">
                                    <label for="order-id">Order ID:</label>
                                    <input type="text" id="order-id" class="form-control " placeholder="Enter Order ID...">
                                  </div>
                                  
                                <div class="filter-item ">
                                  <label for="order-status">Order Status:</label>
                                  <select id="order-status" class="form-control ">
                                    <option value="">All</option>
                                    <option value="pending">Pending</option>
                                    <option value="confirmed">Confirmed</option>
                                    <option value="shipped">Shipped</option>
                                    <option value="delivered">Delivered</option>
                                    <option value="cancelled">Canceled</option>
                                  </select>
                                </div>
                                <div class="filter-item">
                                    <label for="payment-method">Payment Method:</label>
                                    <select id="payment-method" class="form-control ">
                                      <option value="">All</option>
                                      <option value="card">Credit Card</option>
                                      <option value="upi">UPI</option>
                                      <option value="cod">Cash On Delivery</option>
                                    </select>
                                  </div>
                                <div class="filter-item">
                                  <label for="date-range">Date Range:</label>
                                  <input type="date" id="start-date" class="form-control ">
                                  <input type="date" id="end-date" class="form-control ">
                                </div>
                              
                                <button id="apply-filters" class="btn btn-info">Apply Filters</button>
                                <button id="apply-filters" class="btn btn-secondary" onclick="location.assign('/orders')" >Restore</button>
                              </div>
                            </di>
                            
                            <div class="col-lg-12 col-md-6">
                                <p>Sort By:</p>
                                <div class="sort-options mt-3 d-flex justify-content-start align-items-center">
                                    <select id="sort-by" class="form-control w-25 mt-1 mr-5">
                                      <option value="updatedAt">Order Date</option>
                                      <option value="totalPrice">Total Amount</option>
                                      <option value="status">Order Status</option>
                                    </select>
                                    <select id="sort-order" class="form-control w-25">
                                      <option value="desc">High to Low</option>
                                      <option value="asc">Low to High</option>
                                    </select>
                                    <button id="apply-sort" class="btn btn-info mx-4">Apply Sort</button>
                                  </div>
                            </div>
                            
                           </div>
                              
                              

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>OrderID</th>
                                            <!-- <th>Email</th> -->
                                            <th>Total</th>
                                            <th>Payment Method</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

               

                <div id="pagination-container" class="w-100 d-flex g-2 justify-content-center">

                </div>


            </div>
        </div>

        <script>
            window.onload = async function () {
                await getAllOrders()
            }           
        </script>



        <%- include ('../../layouts/adminFooter.ejs') %>