<%- include ('../../layouts/adminHeader.ejs') %>


    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <a class="badge badge-primary" href="/orders">Back To Orders</a>
                <h3 class="page-title"> Form elements </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Forms</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="row d-flex justify-content-between p-3">
                            <div class="col-md-4 grid-margin stretch-card d-flex flex-column">
                                <label><i id="date" class="mdi mdi-calendar"></i></label>
                                <label id="orderId" class="px-3"></label>

                            </div>
                            <div class="col-md-4 grid-margin stretch-card">
                                <div class="form-group">
                                    <label>Change Status</label>
                                    <select id="statusDropdown" class="js-example-basic-single p-1" style="width:100%">
                                        <option value="pending">Pending</option>
                                        <option value="confirmed">Confirmed</option>
                                        <option value="shipped">Shipped</option>
                                        <option value="delivered">Delivered</option>
                                        <option value="cancelled">Cancelled</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row ">

                            <div class="col-lg-12  grid-margin stretch-card d-flex flex-wrap">


                                <div class="col-lg-4 col-md-12 d-flex justify-content-center text-center">
                                    <article
                                        class="icontext d-flex flex-column justify-content-center align-items-center">
                                        <span class="icon icon-sm rounded-circle alert-success"
                                            style="width:50px; height:50px"><i
                                                class="text-success mdi mdi-account"></i></span>
                                        <div class="text">
                                            <h6 class="mb-1">Customer</h6>
                                            <p class="mb-1">User Admin <br><a
                                                    href="mailto:user@example.com">user@example.com</a></p>
                                        </div>
                                    </article>
                                </div>

                                <div class="col-lg-4 col-md-12  d-flex justify-content-center text-center">
                                    <article
                                        class="icontext  d-flex flex-column justify-content-center align-items-center">
                                        <span class="icon icon-sm rounded-circle alert-success"
                                            style="width:50px; height:50px"><i
                                                class="text-success mdi mdi-truck"></i></span>
                                        <div class="text">
                                            <h6 class="mb-1">Order Info</h6>
                                            <p class="mb-1">Pay Method:</p>
                                        </div>
                                    </article>
                                </div>


                                <div class="col-lg-4 col-md-12 d-flex justify-content-center text-center">
                                    <article
                                        class="icontext  d-flex flex-column justify-content-center align-items-center">
                                        <span class="icon icon-sm rounded-circle alert-success"
                                            style="width:50px; height:50px"><i
                                                class="text-success mdi mdi-google-maps"></i></span>
                                        <div class="text">
                                            <h6 class="mb-1">Deliver To</h6>
                                            <p class="mb-1">Shipping:
                                            <address></address>
                                            </p>
                                        </div>
                                    </article>
                                </div>



                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-8  grid-margin stretch-card d-flex flex-wrap">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Order Details</h4>
                                        <!-- <p class="card-description"> Add class <code>.table</code> -->
                                        </p>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Unit Price</th>
                                                        <th>Quantity</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4 d-flex align-items-center">
                                <button class="btn btn-info col-12 p-3">MARK AS DELIVERED</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <script>
                // window.onload = async function(){
                //     await getAllOrders()
                // }

                const orderDetails = localStorage.getItem('order')
                console.log(orderDetails)
                if (orderDetails) {
                    const order = JSON.parse(orderDetails)
                    let currentStatus = order.status
                    const orderId = document.querySelector('#orderId')
                    const date = document.querySelector('#date')
                    const dateString = order.updatedAt

                    orderId.textContent = order.orderID
                    date.textContent = dateString.split("T")[0]

                    document.getElementById('statusDropdown').value = currentStatus;
                    document.getElementById('statusDropdown').addEventListener('change', function () {
                        const newStatus = this.value;
                        const orderID = order.orderID

                        const confirmation = confirm(`Are you sure you want to change the status to "${newStatus}"?`);
                        if (confirmation) {
                            currentStatus = newStatus;
                            order.status = currentStatus;
                            localStorage.setItem('order', JSON.stringify(order));
                            
                            $.ajax({
                                type: "PUT",
                                url: `/api/v1/admin/orders/${orderID}`,
                                data: {
                                    status: currentStatus
                                },
                                success: function (response) {
                                    console.log("ajax status "+currentStatus)
                                    // console.log(response.data.order.status);
                                },
                                error: function (xhr, status, error) {
                                    console.log(error);
                                }
                            });
                        } else {
                            statusDropdown.value = currentStatus
                        }

                    });


                }

            </script>


            <%- include ('../../layouts/adminFooter.ejs') %>